[SddmGreeterTheme]
Name=Sugar-cubed
Description=Premium Sugar for SDDM
Author=Connor Deckers
Copyright=Copyright (C) 2022 Connor Deckers
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.0
Website=https://github.com/connordeckers/sddm-sugar-cubed
Screenshot=Previews/PartialBlur.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=github@connordeckers.com
Theme-Id=sugar-cubed
Theme-API=2.11
